.footer {
    padding: 0 15px 80px;
}

.footer__wrapper {
    padding: 23px 86px 0;
    border-top: 2px solid #8A8A8A;
    display: flex;
    align-items: center;
    gap: 132px;
}

.footer__logo {
    width: 163px;
    height: 31px;

}

.footer__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #3D3D3D;
}

.footer__link {
    text-decoration: none;
    color: #000000;
}