.contact {
    
}

.contact__wrapper {
    padding: 22px 70px 78px;
}

.contact__title {
    margin-bottom: 80px;
}

.contact__adres{
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
}

.contact__adres{
    font-size: 36px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 57px;
}

.contact__adres-link {
    text-decoration: none;
    color: #2D2D2D;
}

.contact__tel {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}

.contact__tel-link {
    text-decoration: none;
    color: #0044DB;
}