.contact {
    
}

.contact__title {
    margin-bottom: 4rem;
}

.contact__adres{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 2.85rem;
}

.contact__adres{
}

.contact__adres-link {
    text-decoration: none;
    color: #2D2D2D;
}

.contact__tel {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.contact__tel-link {
    text-decoration: none;
    color: #0044DB;
}