.about-us {
    margin-bottom: 6.45rem;
}

.about-us__title {
    margin-bottom: 3.65rem;
}

.about-us__paragraph {
    color: #312F2F;
    font-size: 1rem;
    line-height: 1.3rem;
    padding-left: 10px;
    margin-bottom: 15px;
}

.about-us__quote {
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding-left: 1.3rem;
    border-left: 0.5rem solid #0044DB;
}
