.journals {
    margin-bottom: 40px;
}

.journals__content {
    display: grid;
    
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.journals__title {
    margin-bottom: 25px;
}

.journals__subtitle {
    font-weight: 400;
    text-align: left;
    color: #040404;

    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
}

.journals__button {
    text-align: center;
    font-weight: 400;
    background: #F4B511;
    color: #000000;
    border: none;
}

.journals__button-first {
    display: none;
    
    font-size: 20px;
    line-height: 25px;
    padding: 25px 30px;
}

.journals__button-second {
    display: inline-block;

    font-size: 14px;
    line-height: 16px;
    padding: 10px 20px;
}

.column-right {
    padding: 14px 0;
}

.journal {
    padding: 31px 10px 35px 0;
    border-top: 1px solid #B6B6B6;
    margin-bottom: 41px;
}

.journal:last-child {
    border-bottom: 1px solid #B6B6B6;
}

.journal__title {
    font-weight: 400;
    text-align: left;
    color: #2D2D2D;

    font-size: 39px;
    line-height: 44px;
    margin-bottom: 15px;
}

.journal__from {
    font-weight: 400;
    text-align: left;
    color: #3D3D3D;

    font-size: 22px;
    line-height: 29px;
    margin-bottom: 35px;
}

.journal__arrow {
    width: 77px;
    height: auto;
}

.journals__img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}