@media (min-width: 479px) {
    .books {
        margin-bottom: 50px;
    }

    .books__wrapper {
        padding: 40px 30px;
    }

    .books__title{
        margin-bottom: 40px;
    }

    .books__figures {
        margin-bottom: 30px;
    }

    .books-search__submit{
        width: 60px;
    }
}
@media (min-width:719px) {
    .books {
        margin-bottom: 60px;
    }

    .books__wrapper {
        padding: 50px 40px;
        background-position: center;
    }

    .books__title{
        margin-bottom: 51px;
    }

    .books__figures {
        margin-bottom: 50px;
    }

    .books-search__group {
        height: calc(2rem + 3px); 
    }

    .books-search__input{
        width: 87%;
        border: none;
        border-bottom: 1px solid #D0D0D0;
        border-radius: 0;
    }

    .books-search__input:focus  {
        outline: none;
        border: none;
        border-bottom: 1px solid #0044DB;
    }
    
    .books-search__submit{
        width: 13%;
        border-radius: 17px;
    }
    
    .books-search__submit:focus  {
        outline: none;
        background: #033ab1;
    }
    
    .books-search__submit:hover  {
        background: #033ab1;
    }

    .books-search__submit::before {
        content: 'Найти';
        font-size: 0.9rem;
        line-height: 1.15rem;
        display: inline;
        position: static;
        background: none;
    }
}

@media (min-width:959px) {
    .books {
        margin-bottom: 70px;
    }

    .books__wrapper {
        padding: 65px 60px;
    }

    .books__title{
        margin-bottom: 62px;
    }

    .books__figures {
        margin-bottom: 71px;
    }
}

@media (min-width:1199px) {
    .books {
        margin-bottom: 80px;
    }

    .books__wrapper {
        padding: 77px 70px 80px;
    }

    .books__title{
        margin-bottom: 40px;
    }

    .books__figures {
        margin-bottom: 64px;
    }


    

    .books-filters {
        height: 48px;
    }

    
    .category__item {
        padding: 10px 26px;
        border-radius: 49px;
        
        font-size: 18px;
        line-height: 23px;
    }

    .books-filters__sort {
        font-size: 18px;
        line-height: 23px;
    }
}

